:root {
    font-size: 62.5%;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* All sidebar svg */
.sidebar-main svg {
    zoom: 0.9;
    /* fill: #000; */
}

/* All sidebar tooltips default */
.open-close-sidebar-btn span, 
.tooltip {
    display: none;
    position: fixed;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
}

/* Main sidebar style */
.sidebar-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px -10px #000;
    transition: 250ms;
}

/* Top and bottom sidebar options boxes */
.top-options-box, 
.bottom-options-box {
    width: 100%;
    height: auto;
}

/* Sidebar Menu Box */
.sidebar-main .sidebar-topmenu {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    transition: 200ms;
}

.sidebar-main .sidebar-topmenu div {
    display: flex;
    align-items: center;
}

.sidebar-main .sidebar-topmenu .logo1 {
    display: none;
    width: 50px;
    height: 50px;
}

.sidebar-main .sidebar-topmenu p {
    display: none;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Open/close sidebar button */
.open-close-sidebar-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.open-close-sidebar-btn svg, 
.open-close-sidebar-btn span {
    display: none;
}

.open-close-sidebar-btn:hover {
    background-color: #00000021;
}

.nav-box-head {
    font-size: 1.7rem;
    font-weight: 600;
    align-self: flex-start;
    margin: 0 20px 10px;
}

.sidebar-main hr {
    width: 90%;
    height: 1px;
    background-color: #000;
    justify-self: center;
}

/* Navigation and bottom options box */
.nav-options-box {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

.nav-options-box button, 
.bottom-options-box button {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.nav-options-box .sidebar-option-label, 
.bottom-options-box .sidebar-option-label {
    display: none;
    font-size: 1.3rem;
    font-weight: 600;
}

.nav-options-box button:hover, 
.bottom-options-box button:hover {
    background-color: #00000021;
}

/* Sidebar bottom options box */
.bottom-options-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

/* Sidebar Color theme button hover effects */
/* Light mode */
.sidebar-theme-button svg:nth-child(2) {
    display: none;
}

.sidebar-theme-button:hover svg:nth-child(1) {
    display: none;
}

.sidebar-theme-button:hover svg:nth-child(2) {
    display: block;
}

/* Darkmode */
.darkmode .sidebar-theme-button svg:nth-child(2) {
    display: block;
}

.darkmode .sidebar-theme-button svg:nth-child(1) {
    display: none;
}

.darkmode .sidebar-theme-button:hover svg:nth-child(2) {
    display: none;
}

.darkmode .sidebar-theme-button:hover svg:nth-child(1) {
    display: block;
}

/* SVG's */
.bottom-options-box svg {
    fill: #000;
}

/* Theme Options Box */
.theme-options-box {
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    padding: 15px;
    bottom: 9px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px -5px #000;
    border-radius: 15px;
}

.theme-options-box h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.theme-options-box div {
    width: 100%;
    height: auto;
    align-content: center;
}

.theme-options-box #default, 
.theme-options-box #light, 
.theme-options-box #dark {
    appearance: auto;
    margin: 10px 4px 0 0;
    cursor: pointer;
}

.theme-options-box div label {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

/* Close theme options box button */
.theme-options-box .close-theme-box-btn {
    position: absolute;
    cursor: pointer;
    padding: 5px;
    left: 145px;
    bottom: 130px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 200ms;
}

.theme-options-box .close-theme-box-btn:hover {
    box-shadow: 0 0 10px -5px #000;
}

.close-theme-box-btn svg {
    fill: #000;
}